<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dotify_2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dotify2">
        <activity
            android:name="com.example.dotify_2.crudJadwal.JadwalSaya"
            android:exported="true" />
        <activity
            android:name="com.example.dotify_2.crudJadwal.UbahJadwal"
            android:exported="true" />
        <activity
            android:name="com.example.dotify_2.crudJadwal.TambahJadwal"
            android:exported="true" />
        <activity
            android:name="com.example.dotify_2.HalamanUtama"
            android:exported="true" />
        <activity
            android:name="com.example.dotify_2.UbahPengingat"
            android:exported="true" />
        <activity
            android:name="com.example.dotify_2.TambahPengingat"
            android:exported="true" />
        <activity
            android:name="com.example.dotify_2.PengingatSaya"
            android:exported="true" />
        <activity
            android:name="com.example.dotify_2.Tips"
            android:exported="true" />
        <activity
            android:name="com.example.dotify_2.Tips2"
            android:exported="true" />
        <activity
            android:name="com.example.dotify_2.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmReceiver"/>
    </application>

</manifest>